<div class="usersprofile">
  <h2><strong>User info</strong></h2>
   <%= render 'users/profile' %>
</div>

<div class="booksform">
  <h2><strong>New book</strong></h2>
  <%= render 'books/form' %>
</div

<div class="booklist">
 <h2><strong>Users</strong></h2>
  <table>
   <thead>
     <tr>
         <th>image</th>
         <th>name</th>
     </tr>
     <% @users.each do |user| %>
     <tr>
       <td><%= user.name %></td>
     </tr>
     <% end %>
   </thead>
  </table>
 </div>